*.suo
MPWebStream/bin
MPWebStream/obj
MPWebStream/*.user
MPWebStream/*Publish*
MiniWebServer/bin
MiniWebServer/obj
MiniWebServer/*.user
MiniWebServer/*Publish*
TvServerPlugin/bin
TvServerPlugin/obj
TvServerPlugin/*.user
TvServerPlugin/*Publish*
